{% extends "base.html.twig" %}

{% block title %}Ajout de commentaire{% endblock %}

{% block body %}
                   
                {{form_start(formulaire, {"attr" :{"novalidate": "novalidate"}})}}

                {# 
                {'attr': {'novalidate': 'novalidate'}}
                ça fait doublon avec la version dans la classe
                ici c'est plus spécifique
                #}

                <h2>Ajouter une critique sur le film : <strong>{{movie.title}}<strong> </h2>
                    
                    {{form_row(formulaire.username)}}
                    {{form_row(formulaire.email)}}
                    {{form_row(formulaire.content)}}
                    {{form_row(formulaire.rating)}}
                    {{form_row(formulaire.reactions)}}
                    {{form_row(formulaire.watchedAt)}}
                    <input type="submit" class="btn btn-primary" value="Ajouter">

                {{form_end(formulaire)}}
        
{% endblock %}