{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <h1>Saison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>NbEpisodes</th>
                <td>{{ season.nbEpisodes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_season_index') }}" class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_back_season_edit', {'id': season.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('back/season/_delete_form.html.twig') }}
{% endblock %}
