{% extends 'base.html.twig' %}

{% block title %}Liste des films / séries{% endblock %}

{% block body %}
    <h1>Liste des films / séries</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_back_movie_new') }}" class="btn btn-success">Ajouter un film / une série</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Rating</th>
                <th>Summary</th>
                <th>Synopsis</th>
                <th>ReleaseDate</th>
                <th>Country</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.duration }}</td>

                <td>
                {# {{ movie.rating }} #}
                {% include 'front/partials/_stars.html.twig' with {'ratingStars': movie.rating} %}
                </td>

                <td>{{ movie.summary }}</td>
                <td>{{ movie.synopsis }}</td>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('d-m-Y') : '' }}</td>
                <td>{{ movie.country }}</td>
                <td>{{ movie.poster }}</td>
                <td>
                    <a href="{{ path('app_back_movie_show', {'id': movie.id}) }}" class="btn btn-primary">Voir</a>

                    {# Si l'utilisateur est ADMIN alors il a accès au lien #}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_back_movie_edit', {'id': movie.id}) }}" class="btn btn-warning">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
