{% extends 'base.html.twig'%}

{% block body %}
        <!-- main -->
    {# movieForTwig #}
        {% dump(movieForTwig) %}
        {#App\Entity\Movie {85 ▼
                -id: 1
                -title: "The jungle BOOK"
                -type: Proxies\__CG__\App\Entity\Type {2717 ▼
                    +__isInitialized__: false
                    -id: 1
                    -name: null
                    -movies: null
                    …2
                }
                }#}


    <div class="container bg-light pt-5">

        <div class="row mb-2">

            <div class="col">

                <div class="row g-0 border rounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    <div class="col-4 movie__poster img-thumbnail"
                        style="background-image: url({{ movieForTwig.poster }});">
                        <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                        <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        <a href="{{path ('app_front_favorites_movies_add', {'id': movieId}) }}" class="movie__favorite fs-1 my-2 mx-3 link-danger"><i class="bi bi-bookmark-plus"></i></a>
                        <strong class="d-inline-block mb-2 text-primary">{{ movieForTwig.type.name }}</strong>
                        <h3 class="mb-1">{{ movieForTwig.title }}</h3>
                        <div class="mb-1 text-muted">{{ movieForTwig.duration }} min</div>

                        <p>
                            {% for genre in movieForTwig.genre %}
                                <span class="badge bg-warning text-dark">{{genre.name}}</span>
                            {% endfor %}
                        </p>

                        <p>{{ movieForTwig.synopsis }}</p>

              

                        {# Boucle gestion des étoiles #}
                            {% include 'front/partials/_stars.html.twig' with {'ratingStars': movieForTwig.rating} %}

                        {# on conditionne la partie saison que pour les série #}
                        {% if movieForTwig.type.name == 'série' %}
                            <h2>{{ movieForTwig.seasons|length }} {{ movieForTwig.seasons|length > 1 ? 'Saisons' : 'Saison' }}</h2>
                            <ul class="list-unstyled">
                                {% for season in movieForTwig.seasons %}
                                    <li><span class="badge bg-danger fs-6 mb-2">Saison {{ season.number }}</span><small class="ms-1">({{ season.nbEpisodes }} épisodes)</small></li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <dl class="row">
                            <dt class="col-sm-12">Avec</dt>
                            <dd class="col-sm-12">

                        {# Solution 1 pour le tri par creditOrder (Via Twig) #}
                        {# {% set sortedCastings = movieForTwig.castings|sort((a, b) => a.creditorder <=> b.creditorder) %}
                            {% for casting in movieForTwig.castings %}
                                {# {% dump(movieForTwig) %} #}
                                {# {{ casting.person.firstname ~ " " ~ casting.person.lastname}} <em>({{casting.role}})</em><br>
                            {% endfor %}  #}

                            <hr>

                        {# Solution 2 pour le tri par creditOrder (Via le MainController) #}
                                {% for casting in allCastingFromBDD %}
                                    {{ casting.person.firstname }} {{ casting.person.lastname }} (<em>{{ casting.role }}</em>) ({{ casting.creditOrder }})<br>
                                {% endfor %}
                        
                            </dd>

                            <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">{{ movieForTwig.country}}</dd>

                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{ movieForTwig.releaseDate | date('Y') }}</dd>
                        </dl>

                        <div class="d-flex mb-4">
                            <a href="{{ path('app_front_review_add', {'id':movieForTwig.id})}}" class="btn btn-primary">Ajouter un commentaire</a>
                        </div>


                        <div class="col-12 p-4 d-flex flex-column position-static bg-light">
                            <dl class="row">
                                <div class="col-12 p-4 d-flex flex-column position-static bg-light">
                            <dl class="row">
                                {# allReviewFromBDD #}
                                {% for review in allReviewFromBDD %}

                                <dt class="col-sm-12">Critiques de {{ review.username }}</dt>
                                {# Gestion des étoiles sur Review #}
                                {% include 'front/partials/_stars.html.twig' with {'ratingStars': review.rating} %}

                                        <em><p class="card-text">{{ review.content}}</p>
                                        <p class="card-subtitle mb-2 text-muted">Vu le {{ review.watchedAt|date('d-m-Y') }}<p></em>

                                    <div> 
                                {% for reaction in review.reactions %} 
                                    <span class="badge bg-info text-dark">{{ reaction }}</span> 
                                {% endfor %} 
                                    </div>
                                {% else %}
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                        <p><span class="ps-1">Ce film n'a pas encore de critique<p></span>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                
                                </dd>
                                
                            </dl>
       
                        </div>  
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}